.button{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#gray{
    background-color: gray;
}

#white{
    background-color: #fff;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}